*.ipynb_checkpoints/
.vscode
*.egg-info
results/*
*__pycache__
.Rproj.user
.Rhistory
*.Rproj
.RData
default.profraw
*__pycache__
data/shapefiles/*/
venv
build
*.zip
plots/robustness/noise_poverty_eps=0.1_children_total.pdf
